*{
    margin: 0;
    padding: 0;
    font-family: arial
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#fff, #fff);
    background-size: cover;
    background-position: center;
    position: relative;
}
.logo-container{
    background-image: url(logo2.jpg);
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border-radius: 50%;

}
.text-box{
    text-align: center;
    
}
.text-box h1{
    font-size: 25px;
    color: #000000;
    padding-top: 10px;

} 
.text-box p{
    font-size: 15px;
    font-family: arial;
    color: #000000;
}
body {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left, .middle, .right{
    
    height: 150px;
    width: 130px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: .313rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 0.125rem 0.063rem, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px
}
.left:hover, .middle:hover, .right:hover{
    transform: translateY(10px);
}
.pic1 {
    height:70px;
    width: 70px;
    border-radius: 50%;
    background-image: url(maye.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pic2 {
    height:70px;
    width: 70px;
    border-radius: 50%;
    background-image: url(abby.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pic3 {
    height:70px;
    width: 70px;
    border-radius: 50%;
    background-image: url(mel.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.icon {
    
    display: flex;
    justify-content: end;
    width: 100%;
    height: max-content;
}
.name-pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  
    height: 100%;

}

.container {
    height: max-content;
    width: 500px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

}
.container a, .container1 a {
    text-decoration: none;
}
/**container1**/

.left1, .middle1, .right1{
    
    height: 150px;
    width: 130px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: .313rem;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 0.125rem 0.063rem, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px
    
}
.left1:hover, .middle1:hover, .right1:hover{
    transform: translateY(10px);
}
.pic4 {
    height:70px;
    width: 70px;
    border-radius: 50%;
    background-image: url(loyd.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pic5 {
    height:70px;
    width: 70px;
    border-radius: 50%;
    background-image: url(tan.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pic6 {
    height:70px;
    width: 70px;
    border-radius: 50%;
    background-image: url(plus.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.icon1 {
    
    display: flex;
    justify-content: end;
    width: 100%;
    height: max-content;
}
.icon2 {
    
    display: none;
    justify-content: end;
    width: 100%;
    height: max-content;
}
.name-pic-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    height: 100%;

}
.name-pic-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    border: dashed 1px;
    border-radius: 10px;
    color: #626262;

}
.container1 {
    height: max-content;
    width: 500px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    justify-content: space-evenly;

}
.left .name-pic-container{
    text-decoration: none;
    color: #000000;
    
} 
.left1 .name-pic-container1{
    text-decoration: none;
    color: #000000;
    
}
.middle .name-pic-container{
    text-decoration: none;
    color: #000000;
    
}
.right .name-pic-container{
    text-decoration: none;
    color: #000000;
    
}
.middle1 .name-pic-container1{
    text-decoration: none;
    color: #000000;
    
}